* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.title {
  margin: 0;
}

.title--small {
  font-size: 1.5rem;
  font-weight: 600;
}

.title--medium {
  font-size: 1.75rem;
  font-weight: 700;
}

.title--large {
  font-size: 2rem;
  font-weight: bold;
}